<!--  views/partials/footer.ejs - Client Side Footer  -->

<!--  EJS variables needed to render: `loggedIn`(boolean), `username`(string)  -->
        <nav style="padding-top: 130px;">
            <div id="footer" class="footer">
                <div class="container-3">
                    <div class="col-1" style="width: 155%;">
                        &copy; Copyright 2023 Mencap Liverpool. All rights reserved.
                        <br>Email:&nbsp;&nbsp;contact@mencapliverpool.org.uk
                        <br>Phone:&nbsp;&nbsp;0151 707 8582
                        <br>Address:&nbsp;&nbsp;Mencap Community Cottage, 6-8 Mariners Road, Crosby, L23 6SX.
                    </div>

                    <div class="col-3" style="padding-right: 15px;">
                        <nav>
                            <% if (loggedIn) { %>
                                Hi <%= username %>, <form action="/logout" method="POST" class="logout-button-footer"><input type="submit" value="Logout?" class="custom-submit-button"></button></form>
                                <br>
                            <% } else { %>
                                <a href="/login" style="text-decoration: underline;">Login</a><br>
                            <% } %>
                            <br>Registered Charity 1004262.
                            <br><nav class="footer-donate" style="padding-top: 5px;">Donate £4 by txting <b><i>MENL33 £4</i></b> to <b>70070.</b></nav>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>

        <div id="imageModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <img id="fullSizeImage" class="modal-image" src="" alt="Full Size Image">
            </div>
        </div>


        <script src="scripts/script.js"></script>
    </body>
</html>
