<!--  views/partials/footer.ejs - Client Side Footer  -->

<!--  EJS variables needed to render: `loggedIn`(boolean), `username`(string)  -->


        <div class="custom-ellipsis">. . .</div>


        <nav class="pad-top-footer"></nav>


        <div id="footer" class="footer">
            <div class="container-2">
                <div class="col-1">
                    &copy; Copyright 2024 Mencap Liverpool. All rights reserved.
                    <br>Email:&nbsp;&nbsp;contact@mencapliverpool.org.uk
                    <br>Phone:&nbsp;&nbsp;0151 707 8582
                    <br>Address:&nbsp;&nbsp;Mencap Community Cottage, 6-8 Mariners Road, Crosby, L23 6SX.
                </div>

                <div class="col-2 image-right">
                    <% if (loggedIn && username) { %>
                        Hi <%= username %>, <form action="/logout" method="POST" class="footer-logout-button"><input type="submit" value="Logout?" class="custom-submit-button"></button></form>
                    <% } else { %>
                        <a href="/login" class="underline">Login</a>
                    <% } %>
                    <br><a href="/privacy" class="underline">Our Privacy Policy.</a>
                    <br>Registered Charity 1004262.
                    <br>Donate £4 by txting <b><i>MENL33 £4</i></b> to <b>70070.</b>
                </div>
            </div>
        </div>


        <div id="imageModal" class="modal">
            <div class="modal-content">
                <nav class="close" onclick="closeModal()">&times;</nav>
                <img id="fullSizeImage" class="modal-image" src="" alt="Full Size Image">
            </div>
        </div>



        <script src="scripts/script.js"></script>
    </body>
</html>
