<!--  views/partials/header.ejs - Client Side Header  -->

<!--  EJS variables needed to render: `loggedIn`(boolean)  -->


<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Mencap Liverpool & Sefton - empowering learning disabilities</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>



    <body>
        <div class="js-banner" id="js-disabled-banner">
            <p>&#9888; JavaScript is disabled in your browser. Some features may not work.</p>
        </div>


        <div class="container-banner">
            <div class="col-1">
                <img class="banner" src="assets/images/picture-banner.png" alt="Mencap Picure Collage Banner">
            </div>
        </div>


        <nav class="pad-below-s"></nav>


        <div class="container-3">
            <div class="col-1 image-center pad-right-s">
                <a href="/"><img class="image-center mencap-index-logo item-auto-hide" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a>
            </div>

            <div class="col-2">
                <div class="image-viewer item-center">
                    <div class="image image-1 active"></div>
                    <div class="image image-2"></div>
                    <div class="image image-3"></div>
                    <div class="image image-4"></div>
                    <div class="image image-5"></div>
                    <div class="image image-6"></div>
                    <div class="image image-7"></div>
                </div>
            </div>

            <div class="col-3 image-left">
                <div id="trigger-element">
                    <div id="sticky-content" class="sticky-content">
                        <ul class="remove-list-indent">
                            <li class="socials-list">
                                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                                </a>
                            </li>
                            &nbsp;&nbsp;
                            <li class="socials-list">
                                <a href="https://www.tiktok.com/@mencap_liverpool_sefton" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/tiktok-icon.png" alt="TikTok">
                                </a>
                            </li>
                            &nbsp;&nbsp;
                            <li class="socials-list">
                                <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                                </a>
                            </li>
                            &nbsp;&nbsp;
                            <li class="socials-list">
                                <a href="https://twitter.com/mencapliverpool" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/twitter-icon.png" alt="Twitter">
                                </a>
                            </li>
                            <li>
                                <a href="tel:01517078582" target="_blank">
                                    <img class="contact-icons" src="assets/images/telephone-icon.png" alt="Phone">
                                    <br>
                                    <nav>0151 707 8582</nav>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@mencapliverpool.org.uk" target="_blank">
                                    <img class="contact-icons" src="assets/images/email-icon.png" alt="Email">
                                    <br>
                                    <nav>contact@mencapliverpool.org.uk</nav>
                                </a>
                            </li>
                            <br>
                            <li class="donate-button-small">
                                <a href="/donate">&nbsp;&#128227;&nbsp;&nbsp;DONATE NOW!&nbsp;&nbsp;&#128227;&nbsp;</a>
                            </li>
                        </ul>
                        <br>
                        <nav class="hide-sticky-menu-button-custom">
                            <img class="hide-sticky-menu-button" src="assets/images/remove.png" alt="Hide Menu" onclick="hideStickyMenu()">
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-3 item-auto-show">
            <a href="/"><img class="image-center mencap-index-logo" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a>
        </div>


        <div class="container-1 item-auto-show">
            <div class="col-1 item-center pad-top-l pad-left-m">
                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                    <img class="socials-image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                </a>
                &nbsp;&nbsp;
                <a href="https://www.tiktok.com/@mencap_liverpool_sefton" target="_blank">
                    <img class="socials-image-padding" src="assets/images/tiktok-icon.png" alt="TikTok">
                </a>
                &nbsp;&nbsp;
                <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                    <img class="socials-image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                </a>
                &nbsp;&nbsp;
                <a href="https://twitter.com/mencapliverpool" target="_blank">
                    <img class="socials-image-padding" src="assets/images/twitter-icon.png" alt="Twitter">
                </a>
            </div>
        </div>


        <div class="container-1 item-auto-show">
            <div class="col-1 item-center">
                <p class="text-center">
                    <a class="contact-small-screen" href="tel:01517078582" target="_blank">0151 707 8582</a>
                    <br><br>
                    <a class="contact-small-screen" href="mailto:contact@mencapliverpool.org.uk" target="_blank">contact@mencapliverpool.org.uk</a>
                    <br><br><br>
                    <a class="donate-button-small" href="/donate">&nbsp;&#128227;&nbsp;&nbsp;DONATE NOW!&nbsp;&nbsp;&#128227;&nbsp;</a>
                </p>
            </div>
        </div>


        <div class="burger-menu-button" id="burgerMenuButton">
            <div class="burger-icon" id="test123" onclick="toggleMenu()"></div>
            <div class="menu" id="menu">
                <a class="margin-below-s" href="/">
                    <img src="assets/images/mencap_small_buble_logo_white.png" alt="Home" height="68" width="78">
                    <nav class="item-center">Home</nav>
                </a>
                <a href="/about" class="menu-link-button">About Mencap</a>
                <a href="/find" class="menu-link-button">Where to find us?</a>
                <a href="/involve" class="menu-link-button">Get Involved!</a>
                <a href="/events" class="menu-link-button">The Calendar</a>
                <a href="/gallery" class="menu-link-button">The Gallery</a>
                <a href="/contact" class="menu-link-button">Contact Us</a>
                <a href="/cafe">
                    <img class="image-menu-link" src="assets/images/coffee-logo.png" alt="Coffee at Mencap" width="130">
                    <nav class="item-center">Cafe</nav>
                </a>
                <% if (loggedIn) { %>
                    <a class="menu-link-button margin-top-s" href="/account">Account</a>
                    <a class="menu-link-button margin-below-l-i" href="/help">Help</a>
                <% } %>
            </div>
        </div>


        <nav class="pad-below-l"></nav>



        <script>document.getElementById('js-disabled-banner').style.display = 'none';</script>
