<!--  views/partials/header.ejs - Client Side Header  -->

<!--  EJS variables needed to render: `loggedIn`(boolean)  -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Mencap Liverpool & Sefton - empowering learning disabilities</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>


    <body>
        <div class="js-banner" id="js-disabled-banner">
            <p style="padding-left: 15px;">&#9888; JavaScript is disabled in your browser. Some features may not work.</p>
        </div>

        <div class="container-banner">
            <div class="col-1">
                <img src="assets/images/picture-banner.png" alt="Mencap Picure Collage Banner" style="width: 100%;">
            </div>
        </div>

        <div class="container-3" style="padding-top: 1%; padding-bottom: 1%;">
            <div class="col-1 image-center">
                <a href="/"><img class="image-center mencap-index-logo item-auto-hide" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a>
            </div>

            <div class="col-2" style="margin-left: 3%;">
                <div class="image-viewer item-center">
                    <div class="image image-1 active"></div>
                    <div class="image image-2"></div>
                    <div class="image image-3"></div>
                    <div class="image image-4"></div>
                    <div class="image image-5"></div>
                    <div class="image image-6"></div>
                    <div class="image image-7"></div>
                </div>
            </div>

            <div class="col-3 image-left">
                <div id="trigger-element" style="font-size: 21px;">
                    <div id="sticky-content" class="sticky-content">
                        <ul class="remove-list-indent">
                            <li style="display: inline-block;">
                                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                                    <img class="image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                                </a>
                            </li>
                            &nbsp;&nbsp;
                            <li style="display: inline-block;">
                                <a href="https://www.tiktok.com/@mencap_liverpool_sefton" target="_blank">
                                    <img class="image-padding" src="assets/images/tiktok-icon.png" alt="TikTok">
                                </a>
                            </li>
                            &nbsp;&nbsp;
                            <li style="display: inline-block;">
                                <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                                    <img class="image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                                </a>
                            </li>
                            <li>
                                <a href="tel:01517078582" target="_blank">
                                    <img class="contact-icons" src="assets/images/telephone-icon.png" alt="Phone">
                                    <br>
                                    <span>0151 707 8582</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@mencapliverpool.org.uk" target="_blank">
                                    <img class="contact-icons" src="assets/images/email-icon.png" alt="Email">
                                    <br>
                                    <span>contact@mencapliverpool.org.uk</span>
                                </a>
                            </li>
                            <br>
                            <li class="donate-button-small" style="border: 2px solid white; width: fit-content; border-radius: 20px; padding: 6px; background-color: #970361;">
                                <a href="/donate">&nbsp;&#128227;&nbsp;&nbsp;DONATE NOW!&nbsp;&nbsp;&#128227;&nbsp;</a>
                            </li>
                        </ul>
                        <br><img class="hide-sticky-menu-button" src="assets/images/remove.png" alt="Hide Menu" width="25" height="25" onclick="hideStickyMenu()">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-3 item-auto-show" style="padding-top: 1%;">
            <a href="/"><img class="image-center mencap-index-logo" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a>
        </div>

        <div class="container-1 item-auto-show">
            <br><br>
            <div class="col-1 item-center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                    <img class="image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                </a>
                &nbsp;&nbsp;
                <a href="https://www.tiktok.com/@mencap_liverpool_sefton" target="_blank">
                    <img class="image-padding" src="assets/images/tiktok-icon.png" alt="TikTok">
                </a>
                &nbsp;&nbsp;
                <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                    <img class="image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                </a>
                &nbsp;&nbsp;
                <a href="https://twitter.com/mencapliverpool" target="_blank">
                    <img class="image-padding" src="assets/images/twitter-icon.png" alt="Facebook">
                </a>
            </div>
        </div>

        <div class="container-1 item-auto-show">
            <div class="col-1 item-center">
                <p class="text-center" style="font-size: 20px;">
                    <a href="tel:01517078582" target="_blank">0151 707 8582</a>
                    <br><br>
                    <a href="mailto:contact@mencapliverpool.org.uk" target="_blank">contact@mencapliverpool.org.uk</a>
                    <br><br>
                    <a class="donate-button-small" href="/donate" style="border: 2px solid white; width: fit-content; border-radius: 20px; padding: 6px; padding-top: 9px; background-color: #970361;">&nbsp;&#128227;&nbsp;&nbsp;DONATE NOW!&nbsp;&nbsp;&#128227;&nbsp;</a>
                </p>
            </div>
        </div>

        <div class="burger-menu" id="burgerMenu">
            <div class="burger-icon" onclick="toggleMenu()"></div>
            <div class="menu" id="menu">
                <nav class="home-link-text">
                    <a href="/">
                        <img src="assets/images/mencap_small_buble_logo_white.png" alt="Home" style="height: 68px; width: 78px; border-radius: 25px;">
                        <br><nav class="item-center home-text">Home</nav>
                    </a>
                </nav>
                <a href="/about" style="border-radius: 49%;"><button>About Mencap</button></a>
                <a href="/find" style="border-radius: 49%;"><button>Where to find us?</button></a>
                <a href="/involve" style="border-radius: 49%;"><button>Get Involved!</button></a>
                <a href="/events" style="border-radius: 49%;"><button>The Calendar</button></a>
                <a href="/gallery" style="border-radius: 49%;"><button>The Gallery</button></a>
                <a href="/contact" style="border-radius: 49%;"><button>Contact Us</button></a>
                <a href="/cafe" class="item-center" style="border-radius: 49%;"><img src="assets/images/coffee-logo.png" alt="Coffee at Mencap" style=" width: 118px; border-radius: 49%;"></a>
                <% if (loggedIn) { %>
                    <nav style="padding-top: 20px;">
                        <a href="/account" style="background-color: #b10153; padding: 8px; border-radius: 20px; font-size: 19px;">Account</a>
                        <br><br>
                        <a href="/help" style="background-color: #b10153; padding: 8px; margin-bottom: 20px; border-radius: 20px; font-size: 19px;">Help</a>
                    </nav>
                <% } %>
            </div>
        </div>


        <script>document.getElementById('js-disabled-banner').style.display = 'none';</script>
