        <!--  EJS variables needed to render: `loggedIn`(boolean) + any in partials.ejs  -->

        <%- include('partials/header') %>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 56px;">About Mencap</h1>
                <p class="text-center" style="font-size: 30px; margin-top: -34px;"><i>It's all about&nbsp;<u>you</u>!</i>&nbsp;&nbsp;&#128151;</p>
            </div>
        </div>

        <div class="container-2 container-2-override">
            <div class="col-1">
                <img class="image-right item-auto-hide" src="assets/images/Mencap-Cottage.png" alt="Mencap Cottage" style="height: auto; width: 36vw; border-radius: 30px; margin-right: 15px;">
                <img class="image-center item-auto-show" src="assets/images/Mencap-Cottage.png" alt="Mencap Cottage" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 10px; padding-top: 5px;">
            </div>

            <div class="col-2">
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-size: 22px;">
                    Established 1968, we are a proud local voice of empowerment for learning disability in Liverpool and Sefton!
                    We are a local charity who share the same vision, mission and values as national Mencap but we are independently run and focus our work and support entirely on people living locally.
                    At the heart of our organisation, we believe in fostering a sense of equality and providing opportunities for all to achieve their aspirations - celebrating the incredible potential within.
                    With the right support, everyone can shine brightly.
                    Our work, spear headed by the generosity of volunteers, and funded by donations charitable trusts or public donations, is a testament to the power of collective compassion.
                </p>
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-size: 22px;">
                    We want everyone to have the opportunity to feel equal and achieve the things they want out of life. We try to do this by:
                    <ul style="font-size: 20px;">
                        <li>Providing crisis support on an individual basis, working with diverse people, families, and groups.</li>
                        <li>Guiding all to the relevant help or activities, through phone, email, or face-to-face contact.</li>
                        <li>Regularly organizing social or sports activities, encouraging confidence and self-esteem.</li>
                        <li>Empowering, including, and respecting everyone, regardless of what makes us all unique.</li>
                    </ul>
                </p>
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-style: italic; font-size: 22px;">
                    <a href="/find#find"><b>If you would like to visit us, you can get information on our 'Where to find us?' page using the menu, or <u>Clicking Here</u> &#128279;</b></a>
                </p>
            </div>
        </div>

        <br><br><br>

        <div class="container-2 container-2-override">

            <img class="image-center item-auto-show" src="assets/images/mencap-group.jpg" alt="Mencap Group Photo" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 10px; padding-top: 10px;">

            <div class="col-1">
                <p class="item-right" style="padding-right: 3px; padding-left: 8px; font-size: 22px;">
                    Our Members are not just recipients of support; they are cherished contributors, valued for the richness they bring to our charity and standard they set for us. Everyone has a diverse background and different story to tell.
                    Although many who join are initially reserved, everyone's impact is nothing short of amazing and a crucial part of our activities.
                    We make sure to welcome and make new Members feel comfortable, recognising each person and the challenges they face, so that it never takes long for new Members to break down any barriers, fully coming out of their shell!
                </p>
                <p class="item-right" style="padding-right: 3px; padding-left: 8px; font-size: 22px; font-style: italic;">
                    <a href="/involve#member"><b>If you are thinking about joining Mencap as a Member, or want to refer someone else, you can start the adventure by going to our "Get Involved!" page using the menu, or <u>Clicking Here</u> &#128279;</b></a>
                </p>
            </div>

            <div class="col-2">
                <img class="item-auto-hide" src="assets/images/mencap-group.jpg" alt="Mencap Group Photo" style="height: auto; width: 36vw; border-radius: 30px; margin-left: 20px;">
            </div>
        </div>

        <br><br><br><br><br>

        <div class="container-2 container-2-override">
            <div class="col-1">
                <img class="image-right item-auto-hide" src="assets/images/member-volunteer-bike.jpg" alt="Volunteer with Member on Bike" style="margin-left: auto;  margin-right: 20px; height: auto; width: 26vw; border-radius: 30px;">
                <img class="image-center item-auto-show" src="assets/images/member-volunteer-bike.jpg" alt="Volunteer with Member on Bike" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 10px; padding-top: 10px;">
            </div>

            <div class="col-2">
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-size: 22px;">
                    We have some great dedicated Volunteers who do a lot of fantastic work for the Members and Mencap. And we think they're amazing!
                    Some of our Volunteers have a learning disability themselves, some of them are shy, some of them young, some old, and some even have full-time commitments!
                    But all are united by the core of our mission that is the belief in empowerment, inclusion, and respect for everyone - 
                    Through all our collective efforts and unwavering support, we strive to create a community where everyone can feel equal and achieve their dreams.
                </p>
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-size: 22px; font-style: italic;">
                    <a href="/involve#volunteer"><b>If you would like to find out more about Volunteering, and how to start the journey yourself, you can visit our "Get Involved!" page using the menu, or <u>Clicking Here</u> &#128279;</b></a>
                </p>
            </div>
        </div>

        <br><br><br><br><br>

        <div class="container-2 container-2-override">

            <img class="image-center item-auto-show" src="assets/images/member-award.jpg" alt="Member Holding Donated Photo" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 10px; padding-top: 10px;">

            <div class="col-1">
                <p class="item-right" style="padding-right: 3px; padding-left: 8px; font-size: 22px;">
                    The trustees are a group of volunteers who have overall responsibility for the charity and what we do.
                    We could not do what we do without them and can rest assured knowing our governance and strategic direction are in capable hands.
                    Most of the trustees work full time and so you won't normally see them in the office during the day, working diligently behind the scenes, but you'll hopefully bump into them at some of our events.
                </p>
                <p class="item-right" style="padding-right: 3px; padding-left: 8px; font-size: 22px;">
                    Known as the Board of Trustees, together they bring a wealth of experience from a range of different backgrounds and are responsible for the overall governance and strategic direction of the charity.
                    All of Mencap Liverpool's trustees are unpaid - they volunteer their time and expertise. If you'd like to speak to one of them, please don't wait to get in contact with us to arrange it!
                </p>
                <p class="item-right" style="padding-right: 3px; padding-left: 8px; font-size: 22px; font-style: italic;">
                    <a href="/involve#trustee"><b>If you would like to learn more about becoming a Trustee, and how to start the journey yourself, you can visit our "Get Involved!" page using the menu, or <u>Clicking Here</u> &#128279;</b></a>
                </p>
            </div>

            <div class="col-2">
                <img class="item-auto-hide" src="assets/images/member-award.jpg" alt="Member Holding Donated Photo" style="height: auto; width: 24vw; border-radius: 30px; margin-left: 20px;">
            </div>
        </div>

        <br><br><br><br><br>

        <div class="container-2 container-2-override">
            <div class="col-1">
                <img class="image-right item-auto-hide" src="assets/images/staff-showing-member.jpeg" alt="Volunteer with Member on Bike" style="margin-left: auto;  margin-right: 20px; height: auto; width: 26vw; border-radius: 30px;">
                <img class="image-center item-auto-show" src="assets/images/staff-showing-member.jpeg" alt="Volunteer with Member on Bike" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 5px; padding-top: 10px;">
            </div>

            <div class="col-2">
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-size: 22px;">
                    The dedicated team of passionate professionals sit at the heart of positive change here.
                    Each member of staff is a crucial contributor - working collaboratively to create a supportive environment for those with learning disabilities.
                    Our team spans a variety of diverse backgrounds and experiences, is united by a shared commitment to empowerment and inclusion and motivated by enphuasiasm.
                    Whether providing essential support, shaping strategic initiatives, or actively engaging with the community, each member plays a pivotal role in realising our mission.
                    Join us in fostering a culture where everyone, including our passionate staff, can flourish, feel esteemed, and reach their aspirations!
                </p>
                <p class="item-left" style="padding-right: 8px; padding-left: 8px; font-size: 22px; font-style: italic;">
                    <a href="/involve#careers"><b>If you would like to explore rewarding career opportunities with us, you can visit our "Get Involved!" page using the menu, or <u>Clicking Here</u> &#128279;</b></a>
                </p>
            </div>
        </div>

        <%- include('partials/footer') %>
