        <!--  EJS variables needed to render: `loggedIn`(boolean) + any in partials.ejs  -->

        <%- include('partials/header') %>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 54px;">coffee at mencap</h1>
                <img class="item center image-center" src="assets/images/coffee-logo.png" alt="Mencap Coffee Logo" style="height: auto; width: 30%; min-width: 225px; margin-top: -60px;">
            </div>
        </div>

        <div class="container-1">
            <div class="col-1">
                <p class="item-center text-center" style="font-size: 24px;">
                    Coffee at Mencap is a community coffee shop that opened to provide training & employment opportunities for our Mencap members, to create a safe space where everyone can come together, and raise money to help fund the running costs of our building.
                </p>
                <p class="item-center text-center" style="font-size: 19px;">
                    &#9749;
                    <br>
                    Join us for some quality hot or cold refreshments, plus a great wholesome atmosphere to match
                    <br>
                    &#127856;
                    <br>
                    We have warm & cozy indoor seating, or cool & casual outdoor seating too, for any weather
                    <br>
                    &#127860;
                    <br>
                    Plus we're completely Dog & Puppy friendly too, so the whole family can join! Bring your furry friends along to enjoy our special 'Puppyccino', or a complementary biscuit and bowl of water.
                    We love kind dogs and responsible owners! However, please do keep dogs on their lead and be mindful of our young or nervous customers.
                    <br>
                    &#128054;
                </p>
                <br><br><br>
                <p class="item-center text-center" style="font-size: 34px; font-weight: bold;">
                    <i>We're Open from 9am until 4.30pm, Wednesday to Saturday</i>
                </p>
                <p class="item-center text-center" style="font-size: 26px;">
                    <a href="/find#find"><b>You can <u>Find Us Here</u> &#128279;</b></a>
                </p>
                <br><br><br>
                <p class="item-center text-center" style="font-size: 24px;">
                    Scroll down to see our selection, or get to know more about us, as well as some of the events & activities we have...
                </p>
            </div>
        </div>

        <div class="container-3">
            <div class="col-1">
                <img class="item center image-center" src="assets/images/cafe-art-1.png" alt="Coffee Art 1" style="height: auto; width: 60%;">
            </div>
            <div class="col-2">
                <img class="item center image-center" src="assets/images/cafe-art-2.png" alt="Coffee Art 2" style="height: auto; width: 60%;">
            </div>
            <div class="col-3">
                <img class="item center image-center" src="assets/images/cafe-art-3.png" alt="Coffee Art 3" style="height: auto; width: 60%;">
            </div>
        </div>

        <br>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 50px;">Menu</h1>
                <nav class="image-center" style="border: 3px solid white; padding: 8px; border-radius: 50px; font-size: 21px; width: fit-content;">
                    <a href="assets/files/coffee_at_mencap_MENU.pdf" download="coffee_at_mencap_MENU.pdf" target="_blank"><i>Click here to view and download our full Menu</i> &#128279;</a>
                </nav>
            </div>
        </div>

        <br>

        <div class="container-2 container-2-override">
            <div class="col-1">
                <img class="item center image-center" src="assets/images/menu-page-1.png" alt="Menu Page 1" style="height: auto; width: 70%; cursor: pointer;" onclick="showImage('assets/images/menu-page-1.png')">
            </div>
            <div class="col-2">
                <img class="item center image-center" src="assets/images/menu-page-2.png" alt="Menu Page 2" style="height: auto; width: 70%; cursor: pointer;" onclick="showImage('assets/images/menu-page-2.png')">
            </div>
        </div>

        <br><br><br>

        <div class="container-2 container-2-override">
            <div class="col-1">
                <img class="item center image-center" src="assets/images/menu-page-3.png" alt="Menu Page 3" style="height: auto; width: 70%; cursor: pointer;" onclick="showImage('assets/images/menu-page-3.png')">
            </div>
            <div class="col-2">
                <img class="item center image-center" src="assets/images/menu-page-4.png" alt="Menu Page 4" style="height: auto; width: 70%; cursor: pointer;" onclick="showImage('assets/images/menu-page-4.png')">
            </div>
        </div>

        <br><br><br>

        <div class="container-1">
            <div class="col-1">
                <img class="item center image-center" src="assets/images/coffee-logo.png" alt="Mencap Coffee Logo Again" style="height: auto; width: 25%;">
            </div>
        </div>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 50px;">Events and Activities</h1>
                <nav class="image-center" style="border: 3px solid white; padding: 8px; border-radius: 50px; font-size: 21px; width: fit-content;">
                    <a href="assets/files/coffee_at_mencap_MENU.pdf" download="coffee_at_mencap_MENU.pdf" target="_blank"><i>You can also find and download information on events here in the Menu</i> &#128279;</a>
                </nav>
            </div>
        </div>

        <br>

        <div class="container-3 container-2-override">
            <div class="col-1">
                <img class="item center image-center" src="assets/images/cottage-party-hosting.png" alt="Party Room Hire Poster" style="height: auto; width: 84%; cursor: pointer;" onclick="showImage('assets/images/cottage-party-hosting.png')">
            </div>
            <div class="col-2">
                <img class="item center image-center" src="assets/images/parent-friendly-session.png" alt="Parent Friendly Session Poster" style="height: auto; width: 84%; cursor: pointer;" onclick="showImage('assets/images/parent-friendly-session.png')">
            </div>
            <div class="col-3">
                <img class="item center image-center" src="assets/images/cottage-room-hire.png" alt="Cottage Room Hire Poster" style="height: auto; width: 84%; cursor: pointer;" onclick="showImage('assets/images/cottage-room-hire.png')">
            </div>
        </div>

        <br><br><br><br><br><br>

        <div class="container-1">
            <div class="col-1">
                <p class="item-center text-center" style="font-size: 30px;">...Or just simply pop in to say Hello! &#128075;</p>
                <img class="item center image-center" src="assets/images/mencap-coffee-stand.jpeg" alt="Coffee and Cake Stand" style="height: auto; width: 40%; min-width: 210px; border-radius: 5%;">
            </div>
        </div>

        <br><br><br><br><br>

        <div class="container-1">
            <div class="col-1">
                <p class="item-center text-center" style="font-size: 22px;">Please call or email ahead if a large group will be arriving, so we can make sure we have enough cake!</p>
                <p class="item-center text-center" style="font-size: 18px;">
                    <br>
                    contact@mencapliverpool.org.uk
                    <br>
                    0151 707 8582
                </p>
                <br>
                <p class="item-center text-center" style="font-size: 20px;">Or for any other questions or requirements at all:</p>
                <p class="item-center text-center" style="font-size: 18px;">
                    Amy Pollard, Coffee Shop Manager
                    <br>
                    amy.pollard@mencapliverpool.org.uk
                    <br>
                    07443178997
                </p>
            </div>
        </div>

        <br>

        <%- include('partials/footer') %>
