        <!--  EJS variables needed to render: `loggedIn`(boolean) + any in partials.ejs  -->

        <%- include('partials/header') %>

        <div class="container-1" id="find">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 56px;">Where to find us?<br>&#127969;</h1>
            </div>
        </div>

        <div class="container-2 container-2-override">
            <div class="col-1">
                <h1 class="item-center">&#128269; Find us here</h1>
                <nav class="item-center">
                    <p class="rounded-box" style="font-size: 24px;">
                        Mencap Community Cottage<br>
                        <br>
                        6-8 Mariners Road<br>
                        Crosby<br>
                        Liverpool<br>
                        L23 6SX
                    </p>
                </nav>
            </div>

            <div class="container-1 item-auto-show">
                <div class="col-1">
                    <span class="item-center" style="font-size: 22px; white-space: normal; padding-top: 60px;">&#9749; Join us for Coffee and Cake? &#9749;</span>
                    <span class="item-center text-center" style="font-size: 24px; white-space: normal; padding-top: 20px;">We're Open from 9am until 4.30pm, Wednesday to Saturday</span>
                    <span class="item-center" style="font-size: 22px; white-space: normal; padding-top: 20px;">...or just pop in to say Hello! &#128075;</span>
                    <img class="image-center highlight" src="assets/images/coffee-logo.png" alt="Coffee at Mencap Logo" onclick="window.location.href='/cafe'" style="width: 40%; height: auto; min-width: 230px; cursor: pointer;">
                </div>
            </div>

            <nav class="spacing"></nav>

            <div class="col-2">
                <h1 class="item-center">Talk to us here &#128483;</h1>
                <nav class="item-center">
                    <p class="rounded-box text-center" style="font-size: 26px;">
                        &#128241; 0151 707 8582<br><br>
                        &#128231; contact@mencapliverpool.org.uk<br><br>
                        <a href="/contact">&#128172; Click Here to send in a message</a>
                    </p>
                </nav>
            </div>
        </div>

        <div class="container-2 container-auto-hide">
            <div class="col-1">
                <span class="item-center" style="font-size: 24px; white-space: nowrap; padding-top: 60px;">&#9749; Join us for Coffee and Cake? &#9749;</span>
                <span class="item-center text-center" style="font-size: 24px; white-space: normal; padding-top: 20px;">We're Open from 9am until 4.30pm, Wednesday to Saturday</span>
                <span class="item-center" style="font-size: 22px; white-space: nowrap; padding-top: 20px;">...or just pop in to say Hello! &#128075;</span>
                <img class="image-center highlight" src="assets/images/coffee-logo.png" alt="Coffee at Mencap Logo" onclick="window.location.href='/cafe'" style="width: 35%; height: auto; min-width: 200px; cursor: pointer;">
            </div>

            <div class="col-2">
                <img class="image-center" src="assets/images/member-train.jpeg" alt="Member on a Train" style="width: 40%; height: auto; min-width: 260px; border-radius: 48%;">
            </div>
        </div>

        <br><br><br><br>

        <div class="container-1">
            <div class="col-1">
                <h1 class="item-center text-center">&#128646; Nearest Main Stations:</h1>
                <nav class="item-center">
                    <p class="rounded-box text-center" style="font-size: 20px;">
                        <b>Blundellsands & Crosby (0.3 miles; MerseyRail)</b><br>
                        <br>
                        Liverpool Lime Street (6.5 miles)<br>
                        Liverpool Central (6.6 miles)<br>
                    </p>
                </nav>
            </div>
        </div>

        <br>

        <div class="container-1">
            <div class="col-1">
                <img class="image-center" src="assets/images/member-volunteer-train.jpg" alt="Volunteer and Member on Train" style="height: auto; width: 70%; max-width: 850px; border-radius: 30px;">
            </div>
        </div>

        <br><br><br><br><br><br>

        <div class="container1" style="margin-left: 2%;">
            <div class="col-1">
                <h1 class="item-center text-center">What3Words &#128506;</h1>
                <nav class="item-center">
                    <p class="rounded-box text-center" style="font-size: 18px;">
                        <a href="https://w3w.co/medium.shaky.drip" target="_blank">
                            <b style="font-size: 26px;">&#9758;&nbsp;<u>///medium.shaky.drip</u>&nbsp;&#9756;</b><br><br>
                            This what3words address points to a three meter location on the map. Tap the link to see it &#128279;
                        </a>
                    </p>
                </nav>
            </div>
        </div>

        <br><br><br><br><br>

        <div class="container-1">
            <h1 class="item-center">&#128205; Google Maps</h1>
            <div class="col-1 item-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1057.5519153282385!2d-3.0419079774400384!3d53.48411931998765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b25ade96bbd37%3A0x1f02021b9439dae!2sCoffee%20at%20Mencap!5e0!3m2!1sen!2suk!4v1697379564261!5m2!1sen!2suk"
                    width="96%" height="750px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <div class="container-1">
            <h1 class="item-center">Mencap on the Map &#128681;</h1>
            <div class="col-1 item-center" >
                <div class="gallery-wrapping">
                    <img class="gallery-image" src="assets/images/terrain-map.png" alt="Map Real Terrain View" onclick="showImage('assets/images/terrain-map.png')"/>
                    <img class="gallery-image" src="assets/images/map-far-zoom.png" alt="Map Far Zoom" onclick="showImage('assets/images/map-far-zoom.png')"/>
                    <img class="gallery-image" src="assets/images/map-med-zoom.png" alt="Map Close Zoom" onclick="showImage('assets/images/map-med-zoom.png')"/>
                </div>
                <div id="imageModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <img id="fullSizeImage" class="modal-image" src="" alt="Full Size Image">
                    </div>
                </div>
            </div>
        </div>

        <br>

        <%- include('partials/footer') %>
