        <!--  EJS variables needed to render: `loggedIn`(boolean) + any in partials.ejs  -->

        <%- include('partials/header') %>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 56px;">Get Involved!<br>&#129730;</h1>
            </div>
        </div>

        <div class="container-1" id="member">
            <div class="col-1" style="margin-left: 10px;">
                <h1 class="item-center" style="font-size: 37px;">Become a Member</h1>
                <p class="text-center" style="font-size: 20px;">
                    Step into the heart of our community here at Mencap Liverpool & Sefton, by becoming a Member.
                    Here, being a Member is more than just receiving support or killing time; it's all about becoming a cherished contributor, adding depth and richness to our community.
                    Each Member has a unique background and story, and might start reserved or overwhelmed, everyone's impact is huge.
                    As a vital part of our activities and events, every Member has a crucial role in shaping the culture and direction of our charity.
                    We prioritize a warm welcome, ensuring new Members feel at ease and acknowledged for their individual challenges. 
                    Join us in breaking barriers and helping to unleash your own potential.
                    <br><br>
                    <b>Are <i>you</i> ready to join one big family? Or are you reading this and know someone that would help us grow?</b>
                </p>
                <br>
                <nav class="image-center" style="border: 4px solid white; padding: 10px; border-radius: 55px; font-size: 22px; width: fit-content;">
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSeoPm-4CKMJ1BmsjcGd_cZvz7pWlb7E_w1MBirYyvhmQGMj6w/viewform?usp=sf_link"
                        target="_blank"
                    ><i>Click Here to Refer</i> &#128279;</a>
                </nav>
                <br>
                <img class="image-center" src="assets/images/mencap-group.jpg" alt="Member Group Photo" style="max-width: 600px; width: 75%; height: auto; border-radius: 20px;">
            </div>
        </div>

        <nav class="custom-hr"></nav>

        <div class="container-2 container-2-override" id="volunteer">
            <div class="col-1" style="margin-left: 10px;">
                <h1 style="font-size: 37px;">Become a Volunteer</h1>
                <p style="font-size: 20px;">
                    Take the initiative of positive change by becoming a Volunteer at Mencap Liverpool & Sefton.
                    Since 1968, we've been the proud local voice of empowerment for those with learning disabilities in our community.
                    As an independent charity, our vision aligns with national Mencap, while being able to place a stronger focus on local impact.
                    At our core, we believe in equality, fostering opportunities, and celebrating potential. With your support, we can illuminate the path to brighter futures for everyone.
                    Our dedicated volunteers, diverse in age, background, and commitments, embody our mission of empowerment, inclusion, and respect.
                    And it's not just about our Members and others; being a volunteer with us is rewarding, sociable and can be fulfilling - helping others feels good!
                    Join us in creating a happy community where dreams are achieved every day.
                    <br><br>
                    <b>Are <i>you</i> ready to make a difference? Apply now to be a Volunteer and become a part of something amazing, self-empowering and wholesome!</b>
                </p>
                <br>
                <nav style="border: 4px solid white; padding: 10px; border-radius: 55px; font-size: 22px; width: fit-content;">
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSe8uNY8uHXw2ZmfuRsHMKSOVJcT1Oav2BkcYmGsB5RE8RUiqA/viewform?usp=sf_link"
                        target="_blank"
                    ><i>Click Here to Apply</i> &#128279;</a>
                </nav>
            </div>
            <div class="col-2">
                <br>
                <img class="item-auto-hide" src="assets/images/member-volunteer-bike.jpg" alt="Volunteer with Member on Bike" style="max-width: 60%; margin-top: 40px; margin-left: 35px; border-radius: 20px;">
                <img class="image-center item-auto-show" src="assets/images/member-volunteer-bike.jpg" alt="Volunteer with Member on Bike" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 10px; padding-top: 5px;">
            </div>
        </div>

        <nav class="custom-hr"></nav>

        <div class="container-2 container-2-override" id="trustee">
            <div class="col-1" style="margin-left: 10px;">
                <img class="image-right item-right item-auto-hide" src="assets/images/member-award.jpg" alt="Volunteer Holding Award" style="max-width: 60%; margin-top: 33px; margin-right: 35px; border-radius: 20px;">
            </div>

            <div class="col-2">
                <h1 style="font-size: 37px;">Become A Trustee</h1>
                <p style="font-size: 20px;">
                    Embark on a transformative journey as a Trustee for Mencap Liverpool & Sefton.
                    Our trustees are the backbone of the charity, steering our mission with unwavering dedication and strategic insight.
                    Working tirelessly behind the scenes, balanced along with many other full-time commitments, you will form a part of the Board of Trustees - 
                    Bring diverse expertise, and shaping the governance and strategic direction that propels our impact.
                    As a type of volunteer role, it's a testament to your passion and commitment if you choose to become a Trustee.
                    <br><br>
                    <b>Are <i>you</i> ready to have an impact? Apply now to be a Trustee, and become a big part of it all!</b>
                </p>
                <br>
                <nav style="border: 4px solid white; padding: 10px; border-radius: 55px; font-size: 22px; width: fit-content;">
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSf9yg0O3R8LfbWJ0i4YGrbx7C4VijP1fwBMeB4D9ceUzDxalg/viewform?usp=sf_link"
                        target="_blank"
                    ><i>Click Here to Apply</i> &#128279;</a>
                </nav>
            </div>

            <img class="image-center item-auto-show" src="assets/images/member-award.jpg" alt="Volunteer Holding Award" style="width: 75%; height: auto; border-radius: 30px; padding-bottom: 10px; padding-top: 25px;">

        </div>

        <nav class="custom-hr"></nav>

        <div class="container-1" id="careers">
            <div class="col-1" style="margin-left: 10px;">
                <h1 class="item-center" style="font-size: 37px;">Become Staff</h1>
                <p class="text-center" style="font-size: 20px;">
                    Become a valued Staff member at Mencap Liverpool & Sefton, integrating into a passionate, driven and dedicated team.
                    But joining our team means also becoming an integral part of the community too, and always be committed to making a positive impact in the lives of those with learning disabilities, no matter the role.
                    Whatever you apply for is crucial in delivering essential services and support, while fostering a culture of inclusion.
                    Every member of our staff brings a unique skill set, contributing to the diverse and dynamic work we do.
                    Here, you'll find a fulfilling environment where your dedication is recognized, and your efforts make a real difference.
                    See each individual role or opportuniy for specific requirements and expectations.
                    <br><br>
                    <b>Are <i>you</i> motivated by learning disabilities? Choose a career change and join the team now!</b>
                </p>
                <br>
                <nav class="image-center" style="border: 4px solid white; padding: 10px; border-radius: 55px; font-size: 22px; width: fit-content;">
                    <a
                        href="https://uk.linkedin.com/company/mencap-liverpool"
                        target="_blank"
                    ><i>Click Here to Explore our opportunities</i> &#128279;</a>
                </nav>
                <br>
                <img class="image-center" src="assets/images/staff-showing-member.jpeg" alt="Member Group Photo" style="max-width: 550px; width: 75%; height: auto; border-radius: 20px;">
            </div>
        </div>

        <nav class="custom-hr"></nav>

        <div class="container-1">
            <div class="col-1">
                <h1 class="item-center" style="font-size: 37px;">Donate</h1>
                <p class="text-center" style="font-size: 20px;">
                    The easiest and just as helpful way to get involved, is by donating to help fund everything we do. Any amount will go a long way, and always be put towards improving our services and support capabilities.
                    It will also help us to reach even more people who have no support.
                    <br><br>
                    You can use the below form to donate a one-off amount, or even setup a repeating monthly donation.<br>You can read further about what each amount can do for someone:
                </p>
                <br>
                <iframe class="image-center" src="https://donorbox.org/embed/mencap-website-donation" style="height: 1200px; width: 300px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
            </div>
        </div>

        <%- include('partials/footer') %>
