<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Mencap Liverpool & Sefton - login</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/form-styles.css">
    </head>


    <body>
        <div class="js-banner" id="js-disabled-banner">
            <p style="padding-left: 15px;">&#9888; JavaScript is disabled in your browser. Some features may not work.</p>
        </div>

        <div class="login-container">
            <h1>Mencap Login</h1>

            <form id="login-form" action="/login" method="POST">
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" id="login-button">Login &#10143;</button>
                <br><br>
                <a href="#" id="forgot-password">&#8505; Forgotten my username or password</a>
                <br><br>
                <a href="/" id="login-home">&#10070; Home &#10070;</a>
            </form>

            <form id="reset-form" action="/reset" method="POST" style="display: none;">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" id="reset-password-button">Reset Password &#9993;</button>
                <br><br>
                <a href="#" id="back-to-login">&#10094; Back to Login</a>
                <br><br>
                <a href="/" id="login-home">&#10070; Home &#10070;</a>
            </form>
        </div>


        <script src="scripts/form-script.js"></script>
    </body>
</html>
