        <!--  EJS variables needed to render: `loggedIn`(boolean) + any in partials.ejs  -->

        <%- include('partials/header') %>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 55px;">Privacy Policy</h1>
            </div>
        </div>

        <div class="container-1">
            <div class="col-1 text-center">
                <h2>
                    Here you will find our full and current Privacy Policy, last updated on the <i>23rd of October 2024</i>.
                </h2>
            </div>
        </div>

        <nav class="custom-hr"></nav>

        <br>

        <div class="container-1">
            <div class="col-1 item-center" style="display: block;">
                <p>
                    <h3><u><b>Introduction</b></u></h3>
                    Welcome to the Mencap Liverpool and Sefton Website, found at "mencapliverpool.org.uk" (referred to as “we”, “our”, “us”, or "this website"). We are a charity non-profit organization fully committed to protecting your privacy and ensuring that any personal information is handled in a safe, secure, and responsible manner, in accordance with UK GDPR and the Data Protection Act 2018, along with any other applicable and relevant privacy or data protection laws in the United Kingdom. We also offer due care beyond this, so we aren't just doing the bare minimum for you. This Privacy Policy outlines how we collect, use, and safeguard any data or information that you might provide when using certain features or services, completing forms, or performing certain actions within this website. This policy does not apply to staff or ex-staff personal data, who might visit or use this website; they are subject to the policy agreed between employee and employer, which this website upholds and respects in accordance with UK law and regulations.
                    <br><br><br>
                    <h3><u><b>Information We Collect</b></u></h3>
                    We do not collect any personal information from visitors to our website, and there is no public sign-up process. Additionally, there is no default information or data we take without any action performed by you. The only way we receive information or data is through voluntary/optional submissions made by visitors, like you, to certain pages within this website. Therefore, it is entirely optional for visitors to provide any data.
                    <br>
                    <ul>
                        <li>If you choose to contact us via email or message us via our contact page (informally known as the help and support page), the following information may be collected:</li>
                        <br>
                        <ul>
                            <li>Your name, email address and message body, as provided by you.</li>
                            <li>Any other additional information you choose to include in your email, message, or request, whether this is about yourself or others, as provided by you.</li>
                        </ul>
                        <br>
                        <li>If you choose to complete and submit any of the forms found within this website (such as an expression of interest to get involved form), the following information may be collected:</li>
                        <br>
                        <ul>
                            <li>Your name, email address, date of birth, address, contact information, relationship information, and contextual personal information, as provided by you. This is the maximum you might be asked to provide for submitting certain forms within this website; not all our forms include all of these input fields, and some of these fields could also be optional depending on the form.</li>
                            <li>If the given form has a referral section, then the person being referred's name, email address, date of birth, address, contact information, relationship information, and contextual personal information, as provided by you.</li>
                            <li>Any other additional information you choose to include in any of our forms, whether this is about yourself or others, as provided by you.</li>
                        </ul>
                    </ul>
                    <br><br>
                    <h3><u><b>How We Use Your Information</b></u></h3>
                    We use all your information or data in a responsible, reasonable but also minimal way. We do not pass on your data to other third parties (unless law dicates us to), neither do we sell your data or information. We don't even use your data or information for our own marketing or auto-mailing list.
                    <ul>
                        <li>Emails or messages sent to us, and the information or data you provide in them, will only be used for the purposes of communication and responding to your queries or concerns. We do not store any of this information or data beyond our email inbox, where your email or message will arrive for us to see and respond to. Once your email or message is received in our inbox, we will try to respond to you using the email address you provided in the message or reply to the email address you send an email from. Any other information you provide in these communications will be used to supplement our response or build an informal but professional relationship between you and us. We do not use the information for any other purpose, nor do we share it with third parties, except if required by law.</li>
                        <br>
                        <li>Forms submitted by you through our website, and the information or data you provide in them, will only be used for the purposes of communication and responding to you, and potentially carrying out your request based on the form submitted. For example, if you submit an expression of interest, we might begin our standard and pre-established onboarding process using this information, which will be outlined in the respective form before you sign, date, and submit it to us. This form data is compiled exactly as it is into a secure data store, and it is not stored or collected in any other way except through a submitted form compiled into this single secure data store, obfuscated against all other submitted data. Any other information you provide in any of our forms will be used to supplement our response or build an informal but professional relationship between you and us. We do not use the information for any other purpose, nor do we share it with third parties, except if required by law.</li>
                    </ul>
                    <br><br>
                    <h3><u><b>Data Retention</b></u></h3>
                    This section is where we outline exactly what we do with any data we have or will retain.
                    <ul>
                        <li>Any emails or messages received by us will be retained as long as necessary to address the query or concern and maintain any necessary records of the communication. This data/information will only remain in our shared staff email inbox until deleted. Other potential possibilities for earlier deletion could include routine inbox maintenance or automatic deletion after a set period of time as defined by our email provider. We do not archive or keep a historical audit trail for email or message data/information.</li>
                        <br>
                        <li>Any submitted forms or form data/information will be kept for no longer than about 2 years from the date of submission unless you actively engage with us or our services, or unless a longer retention period is required by law or justified necessity. After this time, the information will be securely and completely deleted from our records. We do not archive or keep a historical audit trail for form data/information.</li>
                    </ul>
                    <br><br>
                    <h3><u><b>Security</b></u></h3>
                    We take appropriate security measures to protect the limited personal information we receive, collect, use, or store, through standard industry practices, such as secure servers and applications. However, no method of transmission over the Internet or method of electronic storage is 100% secure, and we cannot guarantee absolute security. We regularly review our security practices and systems to ensure compliance with the latest standards and regulations, as well as ensuring our technology supporting all this is updated and secure. Please also apply your own standards of scrutiny and security, being mindful about what you choose to share, send, or submit.
                    <br><br><br>
                    <h3><u><b>Your Rights</b></u></h3>
                    As a user/visitor, you have full control over the information or data you provide. If at any point you wish for us to stop communicating or delete any emails or personal information shared with us, you can contact us, and we will honor your request as soon as possible. You can also request any information that we have for you, if we still have it stored, or if it was even stored in the first place. Under UK GDPR, you have the right to access the personal data we hold about you, to request correction of inaccuracies, to request the erasure of your personal data, to restrict processing, or to object to the processing of your personal data. To exercise any of these rights, please contact us. We try to aim for up to 72 hours to process most requests, however some requests can take up to a month to process, but no longer than that (except by special excpetions, where there is a justified reason, which has been communicated clearly to you). This does not including bank holidays or weekends, unless required by law.
                    <br><br><br>
                    <h3><u><b>Changes to this Privacy Policy</b></u></h3>
                    We reserve the right to modify this Privacy Policy at any time. Any changes to this policy will be posted on this page, and this page will always include our most up-to-date current policy.
                    <br><br><br>
                    <h3><u><b>Contact Us</b></u></h3>
                    If you have any questions or concerns regarding this Privacy Policy or how your data is handled, please contact us at "contact@mencapliverpool.org.uk" or "tom.berey@mencapliverpool.org.uk". Our website also offers other methods to get in touch. Our address is: "Mencap Community Cottage, 6-8 Mariners Road, Crosby, L23 6SX".
                </p>
            </div>
        </div>

        <%- include('partials/footer') %>
