/* (#ff01a5, Mencap Pink), (#FF01A5, Pink), (#D31160, Rose), (#970361, Maroon), (#7f2855, Dark Pink/Maroon), (#b10153, Reddish), (#e07494, Pale Light Pink) */
/*#ff01a694;*/
/*#b10153;*/
/*#ff01a66e;*/
/*#ff01a675;*/





/* ---- Custom Font Settings ---- */

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Light-Italic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Bold-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Heavy.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'mencap-font';
    src: url('../assets/fonts/Mencap-Heavy-Italic.otf') format('opentype');
    font-weight: bolder;
    font-style: italic;      #ff01a5
}*/





/* ---- Page CSS Settings ---- */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    color: white;
    font-family: 'mencap-font', sans-serif;
    background-color: #4F006F;
}

button {
    width: 80px;
    padding: 15px 0;
    margin-bottom: 6px;
    border-radius: 50%;
    background-color: #d31160;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
    display: block;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #ff01a5;
}


a {
    color: white;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.no-scroll {
    overflow: hidden;
}





.js-banner {
    display: block;
    position: fixed;
    top: 0;
    right: -112px;
    width: 100%;
    background-color: #afafafb0;
    color: #000;
    padding: 10px;
    text-align: center;
    pointer-events: none;
    font-weight: bolder;
    font-size: 20px;
    z-index: 51;
    overflow: auto;
}

.banner {
    width: 100%;
}

.footer {
    position: fixed;
    padding-top: 9px;
    padding-bottom: 3px;
    padding-left: 4px;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background: #970361;
    z-index: 3;
    font-size: 15px;
}

.footer-logout-button {
    display: inline-block;
}





.container-banner {
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
}

.container-1 {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    padding-left: 36px;
}

.container-2 {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    padding-left: 36px;
}

.container-3 {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 36px;
}

.container-4 {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 36px;
}

.container-5 {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 36px;
}

.col-1 {
    grid-column-start: 1;
}

.col-2 {
    grid-column-start: 2;
}

.col-3 {
    grid-column-start: 3;
}

.col-4 {
    grid-column-start: 4;
}

.col-5 {
    grid-column-start: 5;
}





.item-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.item-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-left {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.image-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.container-auto-hide {
    display: grid;
}

.item-auto-hide {
    display: block;
}

.item-auto-show {
    display: none;
}





.pad-top-footer {
    padding-top: 120px;
}

.pad-top-s {
    padding-top: 10px;
}

.pad-top-m {
    padding-top: 20px;
}

.pad-top-l {
    padding-top: 30px;
}

.pad-right-s {
    padding-right: 10px;
}

.pad-right-m {
    padding-right: 20px;
}

.pad-right-l {
    padding-right: 30px;
}

.pad-left-s {
    padding-left: 10px;
}

.pad-left-m {
    padding-left: 20px;
}

.pad-left-l {
    padding-left: 30px;
}

.pad-below-s {
    padding-bottom: 10px;
}

.pad-below-m {
    padding-bottom: 20px;
}

.pad-below-l {
    padding-bottom: 30px;
}

.margin-top-s {
    margin-top: 10px;
}

.margin-top-m {
    margin-top: 20px;
}

.margin-top-l {
    margin-top: 30px;
}

.margin-right-s {
    margin-right: 10px;
}

.margin-right-m {
    margin-right: 20px;
}

.margin-right-l {
    margin-right: 30px;
}

.margin-left-s {
    margin-left: 10px;
}

.margin-left-m {
    margin-left: 20px;
}

.margin-left-l {
    margin-left: 30px;
}

.margin-below-s {
    margin-bottom: 10px;
}

.margin-below-m {
    margin-bottom: 20px;
}

.margin-below-l {
    margin-bottom: 30px;
}

.margin-below-l-i {
    margin-bottom: 30px !important;
}





.image-viewer {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    height: 19vw;
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 2.5s ease-in-out;
    border-radius: 7%;
}

.image.active {
    opacity: 1;
}

.image-1 {
    background-image: url('../assets/images/banner-auto-scroller/member-staff-stall.jpeg');
}

.image-2 {
    background-image: url('../assets/images/banner-auto-scroller/members-holding-board.jpeg');
}

.image-3 {
    background-image: url('../assets/images/banner-auto-scroller/member-workshop.jpeg');
}

.image-4 {
    background-image: url('../assets/images/banner-auto-scroller/mencap-coffee-stand.jpeg');
}

.image-5 {
    background-image: url('../assets/images/banner-auto-scroller/members-pool.jpeg');
}

.image-6 {
    background-image: url('../assets/images/banner-auto-scroller/members-stage-show.jpeg');
}

.image-7 {
    background-image: url('../assets/images/banner-auto-scroller/member-gardening-shed.jpeg');
}



.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 120px;
    background-color: #970361;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    overflow: auto;
    z-index: 5;
}

.menu-link-button {
    width: 76%;
    padding: 18px 0;
    margin-bottom: 8px;
    border-radius: 50%;
    background-color: #d31160;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    display: block;
    cursor: pointer;
    transition: background-color 0.6s;
}

.menu a:hover {
    background-color: #ff01a5;
    border-radius: 50%;
    transition: background-color 0.6s;
}

.image-menu-link {
    margin-top: -12px;
    margin-bottom: -18px;
}



.sticky-content {
    position: relative;
    font-size: 23px;
    z-index: 1;
}

.sticky-content.sticky {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #97036196;
    padding: 0px;
    width: 298px;
    font-size: 18px;
    border-radius: 0px 0px 0px 20px;
    z-index: 9;
}

.hide-sticky-menu-button {
    height: 27px;
    width: 27px;
    display: none;
    position: absolute;
    bottom: -7px;
    left: -7px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0);
    transition: border 0.4s;
}

.hide-sticky-menu-button:hover {
    border: 5px solid red;
}

.socials-list {
    display: inline-block;
}

.socials-image-padding {
    height: 50px;
    width: 50px;
}

.contact-icons {
    height: 30px;
    width: 35px;
    margin-top: 22px;
}

.donate-button-small {
    border: 2px solid white;
    width: fit-content;
    border-radius: 20px;
    padding: 6px;
    padding-top: 9px;
    background-color: #970361;
    font-size: 20px;
    transition: background-color 0.3s;
}

.donate-button-small:hover {
    background-color: #ff01a5;
}

.remove-list-indent {
    list-style-type: none;
    padding-left: 12px;
    margin-left: 12px;
}



.mencap-index-logo {
    width: 100%;
    height: auto;
    min-width: 340px;
}





.custom-submit-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.clear-button {
    display: none;
    cursor: pointer;
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid red;
}

.gallery-image {
    width: 330px;
    height: 330px;
    object-fit: contain; /*  cover  */
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid white;
}

.gallery-wrapping {
    display: inline-block;
    overflow-x: auto;
    white-space: normal;
    border-radius: 0px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.dustbin-icon {
    position: absolute;
    bottom: 20px;
    right: 26px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 95vh;
}

.modal-image {
    width: 100%;
    height: auto;
    max-height: 95vh;
    object-fit: contain;
    border: 1px solid rgba(145, 145, 145, 0.884);
    border-radius: 0px;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    cursor: pointer;
}

.contact-form {
    background-color: #970361;
    width: 60%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    font-size: 28px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    height: 50px;
}

.contact-form input[type="submit"]:hover {
    background-color: #45a049;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    overflow: hidden;
}

.media-item {
    flex: 1 1 100%;
    max-width: 46%;
    cursor: pointer;
}

.rounded-box {
    border-radius: 26px;
    border: 2px solid white;
    padding: 12px;
    width: fit-content;
    margin: 0 0 26px 0;
    word-break: break-word;
}

.highlight:hover {
    background-color: #ff01a5;
    border-radius: 50%;
    transition: background-color 0.6s;
}

.custom-hr {
    height: 6px;
    background-color: #ff01a5;
    border-radius: 16px;
    margin: 36px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    width: 72%;
    transform: translateX(28px);
}

.custom-ellipsis {
    font-size: 100px;
    color: #ff01a5;
    margin: 0 auto;
    display: block;
    text-align: center;
    transform: translateX(15px);
}

.spacing {
    display: none;
}





/* ---- Small Screen Mobile CSS Settings ---- */

@media (max-width: 1250px) {
    .image-viewer {
        display: none;
    }
}





@media (max-width: 899px) {
    .container-1 {
        width: 99.6%;
        padding-left: 0px;
    }

    .container-2 {
        width: 99.6%;
        padding-left: 0px;
    }

    .container-3 {
        width: 99.6%;
        padding-left: 0px;
    }

    .container-4 {
        width: 99.6%;
        padding-left: 0px;
    }

    .container-5 {
        width: 99.6%;
        padding-left: 0px;
    }

    .container-6 {
        width: 99.6%;
        padding-left: 0px;
    }



    .js-banner {
        right: 0px;
        padding: 5px;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
    }

    .footer {
        font-size: 13px;
    }



    .burger-menu-button {
        position: fixed;
        top: 10px;
        left: 16px;
        background-color: #970361;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 36%;
        z-index: 7;
        cursor: pointer;
    }

    .burger-menu-button:hover {
        background-color: #ff01a5;
    }

    .burger-icon {
        width: 65px;
        height: 65px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 13;
    }

    .burger-icon::before {
        content: '\2630'; /* Hamburger menu icon */
        background-color: rgba(255, 0, 0, 0);
    }

    .burger-icon.active::before {
        content: '\2716'; /* Toggle to cross icon when clicked */
        border-radius: 20px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: rgb(255, 0, 0);
    }

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #4f006fd0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 25px;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s, opacity 0.5s ease;
        z-index: 11;
    }

    .menu.active {
        opacity: 1;
        visibility: visible;
        cursor: default;
    }

    .menu a {
        color: white;
        background-color: #d31160;
        padding: 18px 34px;
        margin: 10px 0;
        text-decoration: none;
        font-size: 24px;
        border-radius: 30px;
        display: inline-block;
        transition: background-color 0.4s;
    }

    .menu a:hover {
        border-radius: 30px;
        background-color: #ff01a5;
    }



    .sticky-content {
        display: none;
    }

    .sticky-content.sticky {
        display: none;
    }

    .socials-image-padding {
        padding-right: 26px;
        height: 45px;
        width: 45px;
    }

    .contact-icons {
        height: 30px;
        width: 28px;
        padding-top: 10px;
    }

    .contact-small-screen {
        font-size: 24px;
    }

    .donate-button-small {
        font-size: 20px;
    }

    .remove-list-indent {
        list-style-type: none;
        padding-left: 8px;
        margin-left: 8px;
    }



    .mencap-index-logo {
        height: auto;
        width: 58%;
    }



    .custom-submit-button {
        font-size: 12px;
    }

    .gallery-wrapping {
        display: inline-block;
        white-space: normal;
    }

    .gallery-image {
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .contact-form {
        width: 80%;
    }

    .media-item {
        max-width: 48%;
    }

    .custom-hr {
        transform: translateX(0px);
    }

    .custom-ellipsis {
        transform: translateX(0px);
    }

    .container-2-override {
        display: block;
    }

    .container-4-override {
        display: block;
    }

    .container-auto-hide {
        display: none;
    }

    .item-auto-hide {
        display: none;
    }

    .item-auto-show {
        display: block;
    }

    .spacing {
        display: block;
        padding: 32px;
    }
}



@media (max-width: 499px) {
    .media-item {
        max-width: 85%;
    }
}






/* ---- Calendar UI Extension CSS Settings ---- */

.fc-theme-standard .fc-list-day-cushion {
    background-color: #d843a1;
    font-size: 20px;
}

.fc-event {
    font-size: 16px;
    word-wrap: break-word;
}

.fc-list-event:hover {
    color: black;
}

.fc-theme-standard .fc-popover {
    background-color: #d843a1;
    background: #d843a1;
}

.fc .fc-toolbar-title {
    padding-right: 25px;
    font-size: 29px;
}

.fc .fc-view-harness {
    height: fit-content !important;
}

.fc .fc-view-harness-active > .fc-view {
    position: inherit;
}

.fc-dayGridWeek-view {
    height: 420px;
}

.fc-dayGridMonth-view {
    height: 750px;
}

.fc-timeGridDay-view {
    height: 500px;
}



.contact-time {
    position: absolute;
    top: 0px;
    left: -9001px;
}
