<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Mencap Liverpool & Sefton - empowering learning disabilities</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>


    <body>
        <div class="js-banner" id="js-disabled-banner">
            <p style="padding-left: 15px;">&#9888; JavaScript is disabled in your browser. Some features may not work.</p>
        </div>

        <div class="container-banner">
            <div class="col-1">
                <img src="assets/images/picture-banner.png" alt="Mencap Picure Collage Banner" style="width: 100%;">
            </div>
        </div>

        <div class="container-3" style="padding-top: 1%; padding-bottom: 1%;">
            <div class="col-1 image-center">
                <a href="/"><img class="image-center mencap-index-logo mencap-logo-center-small-screen-hide" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a>
            </div>

            <div class="col-2" style="margin-left: 3%;">
                <div class="image-viewer item-center">
                    <div class="image image-1 active"></div>
                    <div class="image image-2"></div>
                    <div class="image image-3"></div>
                    <div class="image image-4"></div>
                    <div class="image image-5"></div>
                    <div class="image image-6"></div>
                    <div class="image image-7"></div>
                </div>
            </div>

            <div class="col-3 image-left">
                <div id="trigger-element" style="font-size: 21px;">
                    <div class="sticky-content">
                        <ul class="remove-list-indent">
                            <li style="display: inline-block;">
                                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                                    <img class="image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                                    <br>
                                    <span class="socials-icons" style="margin-right: 33px; font-size: 16px;"><span class="socials">Facebook</span></span>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="https://twitter.com/mencapliverpool" target="_blank">
                                    <img class="image-padding" src="assets/images/twitter-icon.png" alt="Twitter">
                                    <br>
                                    <span class="socials-icons" style="margin-right: 34px; font-size: 16px;"><span class="socials">Twitter</span></span>
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                                    <img class="image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                                    <br>
                                    <span class="socials-icons" style="font-size: 16px;"><span class="socials">Instagram</span></span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:01517078582" target="_blank">
                                    <img class="contact-icons" src="assets/images/telephone-icon.png" alt="Phone">
                                    <br>
                                    <span>&nbsp;0151&nbsp;&nbsp;707 8582</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@mencapliverpool.org.uk" target="_blank">
                                    <img class="contact-icons" src="assets/images/email-icon.png" alt="Email">
                                    <br>
                                    <span>contact@mencapliverpool.org.uk</span>
                                </a>
                            </li>
                            <br>
                            <li class="feedback-small" style="border: 2px solid white; width: fit-content; border-radius: 20px; padding: 4px; background-color: rgb(90, 22, 22);">
                                <a href="https://docs.google.com/spreadsheets/d/1gutHEzPvQEBJ7TixEWatxKH1olohu1SDbQlXuIrQuW0/edit?usp=sharing" target="_blank">&#128227;&nbsp;&nbsp;Feedback&nbsp;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-3 mencap-logo-center-small-screen-show" style="padding-top: 1%; padding-bottom: 1%;">
            <a href="/"><img class="image-center mencap-index-logo" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a><br>
        </div>

        <div class="burger-menu" id="burgerMenu">
            <div class="burger-icon" onclick="toggleMenu()"></div>
            <div class="menu" id="menu">
                <nav class="home-link-text">
                    <a href="/">
                        <img src="assets/images/mencap_small_buble_logo_white.png" alt="Home" style="height: 68px; width: 78px; background-color: #e07494; border-radius: 25px;">
                        <br><nav class="item-center home-text">Home</nav>
                    </a>
                </nav>
                <button><a href="about.html">About Mencap</a></button>
                <button><a href="find.html">Where to find us?</a></button>
                <button><a href="involve.html">Get Involved!</a></button>
                <button><a href="events.html">The Calendar</a></button>
                <button><a href="gallery.html">The Gallery</a></button>
                <button><a href="cafe.html">Tea or Coffee?</a></button>
                <button><a href="contact.html">Contact Us</a></button>
                <button><a href="donate.html" style="font-size: 19px;">DONATE</a></button>
                <button><a href="account.html">Your Account</a></button>
            </div>
        </div>

        <br>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 54px;">Gallery<br>&#128444;</h1>
            </div>
        </div>

        <div class="container-1">
            <div class="col-1 text-center">
                <h2>
                    Take a look at some of the stuff weve been up to; the fun times had, the experiences shared, and the memories made - together!
                    <br>
                    A part of those moments are captured bellow in our photo and video Galleries:
                </h2>
            </div>
        </div>

        <br><br>

        <% if (loggedIn) { %>
            <div class="container-1">
                <div class="col-1">
                    <form id="gallery-form" action="/gallery" method="POST" enctype="multipart/form-data">
                        <br>
                        <h3>Upload a new image or video:</h3>
                        <br>
                        <label for="galleryImg">Image, Video or Gif to Upload:</label><br>
                        <input type="file" id="galleryImg" name="galleryImg" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg" required>
                        <br><br><br>
                        <label for="month">Month:</label>
                        <select id="month" name="month" required></select>
                        <br><br>
                        <label for="year">Year:</label>
                        <select id="year" name="year" required></select>
                        <br><br>
                        <label for="fileType">Upload a:</label>
                        <select id="fileType" name="fileType" required>
                            <option value="picture">Picture</option>
                            <option value="video">Video</option>
                            <option value="album">Album (Not Working Yet)</option>
                        </select><br><br>
                        <button type="submit" style="border-radius: 25px; background-color: rgb(184, 55, 166); width: 30%;">Post</button>
                    </form>
                </div>
            </div>
            <br><br><br>
        <% } %>

        <div class="container-1">
            <div class="col-1 text-center image-center" style="font-size: 22px;">
                <label for="yearView">Year&nbsp;</label>
                <select id="yearView" name="yearView" required>
                <% years.forEach((year) => { %>
                    <option value="<%= year.year %>"><%= year.year %></option>
                <% }); %>
                </select>
            </div>
        </div>

        <br>

        <div class="container-1">
            <div class="col-1" >
                <% months.forEach(function(month) { %>
                    <nav style="padding-bottom: 50px;">
                        <p style="padding-bottom: 10px; padding-left: 5px; font-size: 28px;"><b><%= month.monthName %></b></p>
                        <div class="gallery-wrapping">
                            <% gallery.forEach(function(media) { %>
                                <% if (media.month == month.month) { %>
                                    <img class="gallery-image" src="<%= mediaUrl %><%= media.media %>" alt="Gallery Media Item" onclick="showImage('<%= mediaUrl %><%= media.media %>')"/>
                                <% } %>
                            <% }); %>
                        </div>
                    </nav>
                <% }); %>
                <div id="imageModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <img id="fullSizeImage" class="modal-image" src="" alt="Full Size Image">
                    </div>
                </div>
            </div>
        </div>

        <nav style="padding-top: 130px;">
            <div class="footer">
                <div class="container-3">
                    <div class="col-1" style="width: 155%;">
                        &copy; Copyright 2023 Mencap Liverpool. All rights reserved.
                        <br>Email:&nbsp;&nbsp;contact@mencapliverpool.org.uk
                        <br>Phone:&nbsp;&nbsp;0151 707 8582
                        <br>Address:&nbsp;&nbsp;Mencap Community Cottage, 6-8 Mariners Road, Crosby, L23 6SX.
                    </div>

                    <div class="col-3" style="padding-right: 15px;">
                        <nav>
                            <a href="/login" style="text-decoration: underline;">Login</a><br>
                            <br>Registered Charity 1004262.
                            <br><nav class="footer-donate" style="padding-top: 5px;">Donate £4 by txting <b><i>MENL33 £4</i></b> to <b>70070.</b></nav>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>


        <script src="scripts/script.js"></script>
    </body>
</html>
